{% extends "layout.html" %}

{% block mainContent %}
  <p>we are the timber-wood!!!</p>
  <ul>
    <li><span id="rich-tiger-name">Roman Grigoryev</span> <img id="rich-tiger-headshot" src="http://www.acclaimclipart.com/free_clipart_images/a_rich_tiger_holding_a_pot_of_gold_0521-1001-2913-3608_SMU.jpg"></img>></li>
   <li><span id="splendid-squid-name">Judd Lorson</span><img id="splendid-squid-headshot" src="http://lti-apps.som.yale.edu:9394/photo/profile/jal273"</li>
   <li><span id="famous-pony-name">Adam Vance</span><img id="famous-pony-headshot" src="http://lti-apps.som.yale.edu:9394/photo/profile/arv23"</li>
   <li><span id="strange-magpie-name">Vaibhav Desai</span><img id="strange-magpie-headshot" src="http://lti-apps.som.yale.edu:9394/photo/profile/vbd3"</li>
   </ul>
{% endblock %}
